{
  "/": {
    "path": "/",
    "security": {
      "module": "NONE"
    },
    "langFolder": "${webswing.rootDir}/lang",
    "homeDir": "${user.dir}",
    "allowedCorsOrigins": [
      "*"
    ]
  },
  "/chat": {
    "path": "/chat",
    "webFolder": "",
    "security": {
      "module": "INHERITED"
    },
    "swingConfig": {
      "name": "Enterprise Chat",
      "jreExecutable": "${java.home}/bin/java",
      "javaVersion": "${java.version}",
      "classPathEntries": [
        "apps/chat-app.jar"
      ],
      "launcherType": "Desktop",
      "launcherConfig": {
        "mainClass": "com.enterprise.chat.MainApp"
      },
      "swingSessionTimeout": 300,
      "timeoutIfInactive": false,
      "allowStealSession": true,
      "isolatedFs": true,
      "debug": false,
      "transparentFileSave": true,
      "clearScreenBackground": true,
      "fontConfig": {},
      "allowLocalClipboard": true,
      "allowDownload": true,
      "allowUpload": true,
      "allowJsLink": true
    }
  }
}